In [1]:
#standartiniai moduliai
import numpy as np
import numpy.polynomial.polynomial as poly
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl

In [2]:
d = {'A':7,'B':9, 'C':12} # zodynas
d1 = {'A':5,'B':11,'C':15} # zodynas
data = [d,d1] # Zodynu sarasas

df = pd.DataFrame(data=data) # susidedam i zodynu sarasa i dataFrame lentele
df

   A   B   C
0  7   9  12
1  5  11  15

In [3]:
d = {'AB':np.random.rand(10), 'BC':np.random.randint(10,100,10)}

df = pd.DataFrame(data=d)
df

         AB  BC
0  0.600529  96
1  0.848341  76
2  0.622813  89
3  0.761112  68
4  0.095339  36
5  0.022971  88
6  0.785602  12
7  0.619444  78
8  0.427525  25
9  0.036564  17